{__NOLAYOUT__}
{include file="./layoutitem/header"}
<body>
	<div style="width: 100%;padding: 10px;">
		<table  id="table" 
				class="table" 
				data-toggle="table"
               data-toolbar="#toolbar"
               data-height="460"
               data-click-to-select="true" 
               data-single-select="true" 
               data-url="{:url('admin/bed/getEmptyList')}" data-height="400" >
			<thead>
				<tr>
					<th data-field="state" data-checkbox="true"></th>
					<th data-field="id" data-sortable="true">编号</th>
					<th data-field="department" data-sortable="true">科室</th>
					<th data-field="floor" data-sortable="true">楼层</th>
					<th data-field="room" data-sortable="true">房间</th>
					<th data-field="num" data-sortable="true">床号</th>
					<th data-field="type" data-sortable="true">种类</th>
					<th data-field="empty" data-sortable="true">是否为空</th>
				</tr>
			</thead>
		</table>
	</div>
</body>