<div class="row">
	<div class="col-md-12">
		<div class="ibox">
			<div class="table-header">
				用户管理
			</div>
			<!-- 表格操作 -->
			<div class="table-toolbar">
				<div class="btn-group">
					<button class="btn btn-default">添加</button>
					<button class="btn btn-default">删除</button>
				</div>
			</div>
			<table class="table">
				<thead>
				<th>编号</th>
				<th>名称</th>
				<th>电话</th>
				</thead>
				<tbody>
				<tr>
					<td>1</td>
					<td>admin</td>
					<td>123</td>
				</tr>
				<tr>
					<td>2</td>
					<td>abc</td>
					<td>321</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>