<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>住院管理系统</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/dialog/skin/default/layer.css">
    

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/font-awesome.min.css">

    <!-- jQuery And Bootstrap -->
    <script type="text/javascript" src="/static/lib/js/jquery-3.2.0.min.js" ></script>
    <script type="text/javascript" src="/static/lib/js/bootstrap.min.js"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="/static/lib/dialog/layer.js"></script>
    <script type="text/javascript" src="/static/js/dialog.js"></script>
    <script type="text/javascript" src="/static/admin/login.js"></script>
    <script type="text/javascript" src="/static/js/metisMenu.js"></script>
    
</head>