 <div class="sidebar-nav col-md-2 nav">
	    	<ul class="metismenu">
	    		<!-- 个人信息 -->
	    		<li>
	    			<div class="dropdown profile-element">
			            <a>
			                <span><img alt="image" width="64" height="64" class="img-circle" src="/static/img/logo2.png" /></span>
			            </a>
		            </div>
		            <div class="logo-element">
		                Red
		            </div>
	            </li>
	    		<li><a>业务处理</a>
	    			<ul>
	    				<li><a href="/admin/checkin/index">入院登记</a></li>
	    				<li><a href="/admin/patient/index">病人管理</a></li>
	    				<li><a href="/admin/bed/index">床位管理</a></li>
	    				<li><a href="/admin/leave/index">出院结算</a></li>
	    			</ul>
	    		</li>
	    		<li><a>信息查询</a>
	    			<ul>
	    				<li><a>住院病人查询</a></li>
	    				<li><a>病人档案查询</a></li>
	    				<li><a>重点患者查询</a></li>
	    				<li><a>费用清单查询</a></li>
	    			</ul>
	    		</li>
	    		<li><a>系统设置</a>
	    			<ul>
	    				<li><a>床位设置</a></li>
	    				<li><a>住院类别设置</a></li>
	    				<li><a>员工设置</a></li>
	    				<li><a>系统选项</a></li>
	    			</ul>
	    		</li>
	    	</ul>
	    </div>