{include file="./layoutitem/header"}
<body class="layout-background">
<!--<a href="/admin/login/loginout">退出登录</a> -->
<!-- 导航栏 -->

<nav class="sidebar" id="menu">
    {include file="./layoutitem/sidebar"}
</nav>
<!-- content -->
<div class="content">
    <header class="header">
        {include file="./layoutitem/top"}
    </header>

    <!-- 内容 -->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="table-header">
                        {$title}
                    </div>
                    {__CONTENT__}
                </div>
            </div>
        </div>

    </div>
    <footer></footer>
</div>
</body>
<script type="text/javascript">
    $(function () {

        $('#menu').metisMenu();

    });
</script>
</html>