<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/js/dialog/skin/default/layer.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.0.min.js" ></script>
    <script type="text/javascript" src="/static/js/dialog/layer.js"></script>
    <script type="text/javascript" src="/static/js/dialog.js"></script>
    <script type="text/javascript" src="/static/admin/login.js"></script>
    
</head>
<body>
    <div>
       <form method="post" name="input">
       		用户名<input type="text" name="username">
       		密码<input type="password" name="password">
       		<button name="login" type="button" onclick="loginObj.check()">登录</button>
       </form>
    </div>
    
    <script type="text/javascript">
    </script>
    
</body>
</html>