{__NOLAYOUT__}
{include file="./layoutitem/header"}
<body class="login-background">
    <div class="login">
      <div class="title"><h2>住院管理系统</h2></div>
      <div class="panel">
        <form method="post" name="input">
            <div class="form-group">
         	    <input type="text" name="username" class="form-control" placeholder="username">
            </div>
            <div class="form-group">
         		 <input type="password" name="password" class="form-control" placeholder="password">
            </div>
         		<button name="login" class="btn" type="button" onclick="loginObj.check()">登录</button>
         </form>
       </div>
    </div>
    
</body>
</html>